.banner{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5vw 30px 5vw;
}

#banner1{
    padding-top: 170px;
}

.banner .banner-img{
    max-width: 500px;
    border-radius: 15px;
}

.banner-left{
    margin-right: 20px;
}

.banner-rigth{
    margin-left: 20px;
}

.banner .banner-text{
    flex: 1;
    max-width: 600px;
}

.banner .banner-text .title{
    font-weight: 600;
    margin-bottom: 30px;
}

.banner .banner-text .title .bold{
    font-weight: 700;
}

.banner .banner-text .text{
    margin-bottom: 40px;
}

.banner .banner-text .btn-banner{
    color: #FFFEFF;
    background-image: linear-gradient(210deg, #475e88 0, #313e57 50%, #1c202a 100%);
}

.banner .banner-text .btn-banner .seta{
    font-weight: 700;
    font-size: 2.5rem;
}

.banner .banner-text .btn-banner:hover{
    background-image: linear-gradient(210deg, #727069 0, #313e57 50%, #001344 100%);
    box-shadow: 0 3px 10px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
}