.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background-color: #FFFEFF;
}

.header .nav{
    flex: 1;
}

.header .menu{
    display: flex;
    justify-content: space-evenly;
}

.header .menu-itens a{
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.25rem;
    color: #4D638A;
    border-radius: 20px;
    transition: 400ms;
}

.header .menu-itens a:hover{
    color: #FFFEFF;
    background-image: linear-gradient(210deg, #6585bf 0, #4d628a 50%, #364159 100%);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
}

.shadow{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
}