@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
html{
    font-family: 'Quicksand', sans-serif;
    font-size: 65%;
    line-height: 65%;
    background-color: #FFFEFF;
}

.button{
    padding: 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.25rem;
    border-radius: 20px;
    transition: 400ms;
}

.title{
    font-size: 2.5rem;
    line-height: 2.7rem;
    color: #313F57;
}

.text{
    font-size: 2rem;
    line-height: 2.5rem;
    color: #313e57;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #4d638aa4 #FFFEFF;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #FFFEFF;
}

*::-webkit-scrollbar-thumb {
    background-color: #4d638aa4;
    border-radius: 10px;
    border: 2px solid #FFFEFF;
}